.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("/plasmic/generic_landing_page/images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__rqGSr {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-fHebupFoqIr_11);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__rqGSr > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__rqGSr > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__rqGSr > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__rqGSr > :global(.__wab_flex-container) > *,
.columns__rqGSr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__rqGSr > :global(.__wab_flex-container) > picture > img,
.columns__rqGSr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rqGSr {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rqGSr > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rqGSr > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rqGSr > :global(.__wab_flex-container) > *,
  .columns__rqGSr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__rqGSr > :global(.__wab_flex-container) > picture > img,
  .columns__rqGSr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__gYQ {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__p8DIi {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__p8DIi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__p8DIi > :global(.__wab_flex-container) > *,
.freeBox__p8DIi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p8DIi > :global(.__wab_flex-container) > picture > img,
.freeBox__p8DIi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__fe1Ur {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__fe1Ur > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fe1Ur > :global(.__wab_flex-container) > *,
.freeBox__fe1Ur > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fe1Ur > :global(.__wab_flex-container) > picture > img,
.freeBox__fe1Ur
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__peIs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__zAnBd {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-ROSSNIT2nnNq2J);
  background: #ffffff;
  padding: 4px 8px;
}
.text___1KN8X {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-XtyD9xQ9ibI0O7);
}
.text__be67W {
  font-size: 20px;
  color: var(--token-ROSSNIT2nnNq2J);
  line-height: 28px;
}
.freeBox__uIsJc {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__uIsJc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__uIsJc > :global(.__wab_flex-container) > *,
.freeBox__uIsJc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uIsJc > :global(.__wab_flex-container) > picture > img,
.freeBox__uIsJc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__hjbDa:global(.__wab_instance) {
  position: relative;
}
.svg__jN8PP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__nz7Ea {
  height: auto;
}
.svg___7JrI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___4ZbDb:global(.__wab_instance) {
  position: relative;
}
.svg__sgDt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ocRzn {
  height: auto;
  font-weight: 400;
}
.svg__cl5Zv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column___2W7Sm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__ns7CH {
  flex-direction: column;
  max-width: var(--token-fHebupFoqIr_11);
  display: flex;
  height: auto;
}
.freeBox__ns7CH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ns7CH > :global(.__wab_flex-container) > *,
.freeBox__ns7CH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ns7CH > :global(.__wab_flex-container) > picture > img,
.freeBox__ns7CH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ujFuT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__iLsy {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-XtyD9xQ9ibI0O7);
  line-height: 1;
}
.text__pxMz3 {
  font-size: 20px;
  color: var(--token-ROSSNIT2nnNq2J);
  text-align: left;
  line-height: 28px;
}
.freeBox__i1O3J {
  flex-direction: column;
  max-width: var(--token-fHebupFoqIr_11);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__i1O3J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__i1O3J > :global(.__wab_flex-container) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
.freeBox__i1O3J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J {
    max-width: var(--token-fHebupFoqIr_11);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i1O3J > :global(.__wab_flex-container) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__i1O3J > :global(.__wab_flex-container) > picture > img,
  .freeBox__i1O3J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__pmxbR {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__pmxbR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__pmxbR > :global(.__wab_flex-container) > *,
.freeBox__pmxbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pmxbR > :global(.__wab_flex-container) > picture > img,
.freeBox__pmxbR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmxbR > :global(.__wab_flex-container) > *,
  .freeBox__pmxbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pmxbR > :global(.__wab_flex-container) > picture > img,
  .freeBox__pmxbR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp___0E1E7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xkMj4 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__p0Ap:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oYaX {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__sEtMe:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1XFnB {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__ljqFz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9Gz5D {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__eklGt {
  height: auto;
}
.freeBox__edOhx {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__edOhx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__edOhx > :global(.__wab_flex-container) > *,
.freeBox__edOhx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__edOhx > :global(.__wab_flex-container) > picture > img,
.freeBox__edOhx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edOhx > :global(.__wab_flex-container) > *,
  .freeBox__edOhx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__edOhx > :global(.__wab_flex-container) > picture > img,
  .freeBox__edOhx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__auG65:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vWTxs {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__hVqL {
  height: auto;
}
.valueProp__wGuwE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xGuxI {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__nb41:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cooTh {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__ai8C1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lxvGo {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__yGsKa {
  flex-direction: row;
  max-width: var(--token-fHebupFoqIr_11);
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__yGsKa > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__yGsKa > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__yGsKa > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__yGsKa > :global(.__wab_flex-container) > *,
.columns__yGsKa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__yGsKa > :global(.__wab_flex-container) > picture > img,
.columns__yGsKa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yGsKa {
    max-width: var(--token-fHebupFoqIr_11);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yGsKa > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yGsKa > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yGsKa > :global(.__wab_flex-container) > *,
  .columns__yGsKa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__yGsKa > :global(.__wab_flex-container) > picture > img,
  .columns__yGsKa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__xbY {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__plUwr {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__plUwr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__plUwr > :global(.__wab_flex-container) > *,
.freeBox__plUwr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__plUwr > :global(.__wab_flex-container) > picture > img,
.freeBox__plUwr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__hVsef {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-umhCKS6fTMrwXs);
}
.h2__uZbB8 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-kX9pnjW2X5KF9F);
  line-height: 1;
}
.text__pgTnr {
  font-size: 20px;
  color: var(--token-TqttlfsE3ILiak);
  line-height: 28px;
  height: auto;
}
.button__teqU:global(.__wab_instance) {
  position: relative;
}
.svg__fcf34 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__zrmeS {
  color: var(--token-npdsPpx1bZkJ20);
}
.svg___95PfT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-npdsPpx1bZkJ20);
}
.column__fjMj8 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__dzeNg {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__h5WZh:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__h5WZh:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__wkz4C {
  color: var(--token-kX9pnjW2X5KF9F);
}
.svg___0LCxv {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-umhCKS6fTMrwXs);
}
.listItem__zTxi:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__b5Qd1 {
  color: var(--token-kX9pnjW2X5KF9F);
}
.svg__tQheZ {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-umhCKS6fTMrwXs);
}
.listItem__xqzFa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__iGybH {
  height: auto;
  color: var(--token-kX9pnjW2X5KF9F);
}
.svg___6ReAl {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-umhCKS6fTMrwXs);
}
.listItem__wvra7:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__iWbW {
  height: auto;
  color: var(--token-kX9pnjW2X5KF9F);
}
.svg__c681V {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-umhCKS6fTMrwXs);
}
.listItem__vnhvA:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___7Ef2E {
  height: auto;
  color: var(--token-kX9pnjW2X5KF9F);
}
.svg__g4WFu {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-umhCKS6fTMrwXs);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__hVjM {
  flex-direction: column;
  max-width: var(--token-fHebupFoqIr_11);
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__hVjM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__hVjM > :global(.__wab_flex-container) > *,
.freeBox__hVjM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hVjM > :global(.__wab_flex-container) > picture > img,
.freeBox__hVjM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hVjM {
    max-width: var(--token-fHebupFoqIr_11);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hVjM > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hVjM > :global(.__wab_flex-container) > *,
  .freeBox__hVjM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hVjM > :global(.__wab_flex-container) > picture > img,
  .freeBox__hVjM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__pnkI {
  flex-direction: column;
  display: flex;
}
.freeBox__pnkI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__pnkI > :global(.__wab_flex-container) > *,
.freeBox__pnkI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pnkI > :global(.__wab_flex-container) > picture > img,
.freeBox__pnkI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__drM1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__unRi4 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-kX9pnjW2X5KF9F);
  line-height: 1;
}
.text___9Q7NN {
  font-size: 20px;
  color: var(--token-TqttlfsE3ILiak);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns__iFfN {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__iFfN > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
}
.columns__iFfN > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__iFfN > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__iFfN > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iFfN {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iFfN > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iFfN > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iFfN > :global(.__wab_flex-container) > *,
  .columns__iFfN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__iFfN > :global(.__wab_flex-container) > picture > img,
  .columns__iFfN
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__lkt2H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__zyzpu:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__zyzpu:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__gwsjk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9OxQz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___20IJ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sr2A2 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__hLiex {
  height: auto;
}
.column__oEwR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard___8TBUn:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__ajrbr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__eNl1Q {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___65ZH:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___7LySc {
  height: auto;
}
.svg__dAi0B {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mnSpf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hhKvb {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__sEnZn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__zu8R1 {
  height: auto;
}
.svg__lqDyk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___82WpJ {
  height: auto;
}
.column__qal9Q {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__fstwa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__fstwa:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__d8Qnu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pNmyp {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t80Kz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___6OcFr {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__nwbKk {
  height: auto;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__siiJm {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__siiJm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__siiJm > :global(.__wab_flex-container) > *,
.freeBox__siiJm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__siiJm > :global(.__wab_flex-container) > picture > img,
.freeBox__siiJm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__siiJm {
    position: relative;
  }
}
.text___1Sjp9 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__s8SRz {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-XtyD9xQ9ibI0O7);
  line-height: 1;
  height: auto;
}
.svg__ahCq1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__zpyjs {
  height: auto;
  width: auto;
}
.svg__erdG7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__j87Tr {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__j87Tr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__j87Tr > :global(.__wab_flex-container) > *,
.freeBox__j87Tr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j87Tr > :global(.__wab_flex-container) > picture > img,
.freeBox__j87Tr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j87Tr {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j87Tr > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j87Tr > :global(.__wab_flex-container) > *,
  .freeBox__j87Tr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__j87Tr > :global(.__wab_flex-container) > picture > img,
  .freeBox__j87Tr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.text___69TrV {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__nlIEr {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-XtyD9xQ9ibI0O7);
  line-height: 1;
  height: auto;
}
.svg___4JQ1X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xIeq2 {
  height: auto;
  width: auto;
}
.svg___19Ldy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner__xqIon:global(.__wab_instance) {
  position: relative;
}
.text__frdmn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__da8MN {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-XtyD9xQ9ibI0O7);
  line-height: 1;
  height: auto;
}
.svg__isKxt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__kh1Hr {
  height: auto;
  width: auto;
}
.svg__zGtNr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___2Tot6 {
  flex-direction: row;
  max-width: var(--token-fHebupFoqIr_11);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox___2Tot6 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___2Tot6 > :global(.__wab_flex-container) > *,
.freeBox___2Tot6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Tot6 > :global(.__wab_flex-container) > picture > img,
.freeBox___2Tot6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img___8HHgK {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___8HHgK > picture > img {
  object-fit: cover;
}
.img___8HHgK > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__g7V2 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__g7V2 > picture > img {
  object-fit: cover;
}
.img__g7V2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__nMSue {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__nMSue > picture > img {
  object-fit: cover;
}
.img__nMSue > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___5CXj0 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___5CXj0 > picture > img {
  object-fit: cover;
}
.img___5CXj0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___6Zr4M {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___6Zr4M > picture > img {
  object-fit: cover;
}
.img___6Zr4M > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__dWPv {
  flex-direction: row;
  max-width: var(--token-fHebupFoqIr_11);
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__dWPv > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__dWPv > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__dWPv > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__dWPv > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__dWPv > :global(.__wab_flex-container) > *,
.columns__dWPv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dWPv > :global(.__wab_flex-container) > picture > img,
.columns__dWPv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dWPv {
    max-width: var(--token-fHebupFoqIr_11);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dWPv > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dWPv > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dWPv > :global(.__wab_flex-container) > *,
  .columns__dWPv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__dWPv > :global(.__wab_flex-container) > picture > img,
  .columns__dWPv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.column__lEa0G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__vb1MM:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column___29T63 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__ps2Nn:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__nYfbs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__a9ZAp:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__jr1Yg {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__buWLi {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__buWLi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__buWLi > :global(.__wab_flex-container) > *,
.freeBox__buWLi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__buWLi > :global(.__wab_flex-container) > picture > img,
.freeBox__buWLi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___9BrFf {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-kX9pnjW2X5KF9F);
}
.text__lRpul {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-kX9pnjW2X5KF9F);
  line-height: 1;
}
.text___4Wjvx {
  font-size: 20px;
  color: var(--token-TqttlfsE3ILiak);
  line-height: 28px;
}
.freeBox__fZxPv {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__fZxPv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fZxPv > :global(.__wab_flex-container) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fZxPv > :global(.__wab_flex-container) > picture > img,
.freeBox__fZxPv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__zyncv:global(.__wab_instance) {
  position: relative;
}
.svg__euyld {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__bdknC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___1TFid:global(.__wab_instance) {
  position: relative;
}
.svg__klj5D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__hyAdd {
  height: auto;
  font-weight: 400;
}
.svg__owCqn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
