.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__rq9Ck {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__rq9Ck > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__rq9Ck > :global(.__wab_flex-container) > *,
.freeBox__rq9Ck > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rq9Ck > :global(.__wab_flex-container) > picture > img,
.freeBox__rq9Ck
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rq9Ck {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__jNt0J {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text__lBl1C {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp___3HehQ:global(.__wab_instance) {
  position: relative;
}
.img__tadKg {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__tadKg > picture > img {
  object-fit: cover;
}
.img__tadKg > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp___5SRuj:global(.__wab_instance) {
  position: relative;
}
.img__f0NU9 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__f0NU9 > picture > img {
  object-fit: cover;
}
.img__f0NU9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__ni1Q4:global(.__wab_instance) {
  position: relative;
}
.img__tgXj {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__tgXj > picture > img {
  object-fit: cover;
}
.img__tgXj > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__f2JDh:global(.__wab_instance) {
  position: relative;
}
.img__ttu45 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__ttu45 > picture > img {
  object-fit: cover;
}
.img__ttu45 > .__wab_img-spacer > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-yDKVSnhzS3oFRA);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__qpk1N {
  flex-direction: column;
  display: flex;
}
.freeBox__qpk1N > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qpk1N > :global(.__wab_flex-container) > *,
.freeBox__qpk1N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qpk1N > :global(.__wab_flex-container) > picture > img,
.freeBox__qpk1N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___8S2M6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__icJme {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__mFt8T {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__mFt8T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__mFt8T > :global(.__wab_flex-container) > *,
.freeBox__mFt8T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mFt8T > :global(.__wab_flex-container) > picture > img,
.freeBox__mFt8T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__to6Da {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__c17A:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__jSzVj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-68ir1UdUBLWLSH);
  width: 28px;
  height: 28px;
}
.text__oFi0M {
  padding-left: 0px;
}
.column__i639N {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__pu8Gg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ymKQm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-68ir1UdUBLWLSH);
  width: 28px;
  height: 28px;
}
.text__qCHxd {
  padding-left: 0px;
}
.column__cqulV {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___1IkPi:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__rK2Gc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-68ir1UdUBLWLSH);
  width: 28px;
  height: 28px;
}
.text__wnRok {
  padding-left: 0px;
}
.column___6PQzp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__eiMs3:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__e55Pb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-68ir1UdUBLWLSH);
  width: 28px;
  height: 28px;
}
.text__fefeV {
  padding-left: 0px;
}
.freeBox__o4Z1J {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox__o4Z1J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__o4Z1J > :global(.__wab_flex-container) > *,
.freeBox__o4Z1J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o4Z1J > :global(.__wab_flex-container) > picture > img,
.freeBox__o4Z1J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o4Z1J {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__lRFy {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__lRFy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__lRFy > :global(.__wab_flex-container) > *,
.freeBox__lRFy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lRFy > :global(.__wab_flex-container) > picture > img,
.freeBox__lRFy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__fa39P {
  flex-direction: column;
  display: flex;
}
.freeBox__fa39P > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fa39P > :global(.__wab_flex-container) > *,
.freeBox__fa39P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fa39P > :global(.__wab_flex-container) > picture > img,
.freeBox__fa39P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__jNQdc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___0W5KC {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0W5KC {
    text-align: center;
  }
}
.text__xU0ZI {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__agnFh {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__agnFh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__agnFh > :global(.__wab_flex-container) > *,
.freeBox__agnFh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__agnFh > :global(.__wab_flex-container) > picture > img,
.freeBox__agnFh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__agnFh {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__agnFh > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__agnFh > :global(.__wab_flex-container) > *,
  .freeBox__agnFh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__agnFh > :global(.__wab_flex-container) > picture > img,
  .freeBox__agnFh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__stwPt:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__o3ZOy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dbGz9 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bejX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yVcvN {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__fDvls {
  height: auto;
}
.priceCard__zOvR:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__uidbI {
  color: var(--token-t6111bSTgwZDsc);
}
.valueProp__lbBk0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dxUcd {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kkPa8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ni7Ie {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ivj0E:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__moXfj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__tN1MZ {
  height: auto;
}
.priceCard__c5DJf:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__o2ELp {
  color: var(--token-b1Je5qrNF5h4Mj);
}
.valueProp__aCkpj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uyRj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a7Kvl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mlSc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__uAoRw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wk0IB {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yx9Lz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gPoWe {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__dTydh {
  height: auto;
}
.priceCard__s0MEl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__gSmr2 {
  color: var(--token-wn_ZZNSnNH3rRF);
}
.valueProp___1PUqu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___0XrP4 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t8Bl5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__b278E {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yyUz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cc6Hz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__g75Rw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yqRow {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__rrev1 {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
