.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox__zetj6 {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.freeBox__zetj6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__zetj6 > :global(.__wab_flex-container) > *,
.freeBox__zetj6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zetj6 > :global(.__wab_flex-container) > picture > img,
.freeBox__zetj6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zetj6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zetj6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zetj6 > :global(.__wab_flex-container) > *,
  .freeBox__zetj6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zetj6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__zetj6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__kmg9L {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__kmg9L > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__kmg9L > :global(.__wab_flex-container) > *,
.freeBox__kmg9L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kmg9L > :global(.__wab_flex-container) > picture > img,
.freeBox__kmg9L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__gtQlD {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__gtQlD > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gtQlD > :global(.__wab_flex-container) > *,
.freeBox__gtQlD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gtQlD > :global(.__wab_flex-container) > picture > img,
.freeBox__gtQlD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ch92A {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ch92A > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ch92A > :global(.__wab_flex-container) > *,
.freeBox__ch92A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ch92A > :global(.__wab_flex-container) > picture > img,
.freeBox__ch92A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__lhj8Y {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-ROSSNIT2nnNq2J);
  flex-shrink: 0;
}
.svg__yrkBu {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-ROSSNIT2nnNq2J);
  flex-shrink: 0;
}
.svg__o4Pzv {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-ROSSNIT2nnNq2J);
  flex-shrink: 0;
}
.freeBox__mMaGq {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__mMaGq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mMaGq > :global(.__wab_flex-container) > *,
.freeBox__mMaGq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mMaGq > :global(.__wab_flex-container) > picture > img,
.freeBox__mMaGq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__kP1O6 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-ROSSNIT2nnNq2J);
  height: auto;
}
.button__phHi:global(.__wab_instance) {
  position: relative;
}
.svg__tzalP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__uDtXt {
  height: auto;
}
.svg__h7Stv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__apVju:global(.__wab_instance) {
  position: relative;
}
.svg__hanyn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___4U8Rm {
  height: auto;
}
.svg__y0ZYh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__nSemY:global(.__wab_instance) {
  position: relative;
}
.svg__xd2L8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dyPHj {
  height: auto;
}
.svg__kj5Bk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___72Uq6:global(.__wab_instance) {
  position: relative;
}
.svg__auVdz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__cxoQs {
  height: auto;
}
.svg__eg2Xj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__d2F1R {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__d2F1R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__d2F1R > :global(.__wab_flex-container) > *,
.freeBox__d2F1R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d2F1R > :global(.__wab_flex-container) > picture > img,
.freeBox__d2F1R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__fo9Nw {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-ROSSNIT2nnNq2J);
  height: auto;
}
.button__pHc7T:global(.__wab_instance) {
  position: relative;
}
.svg__nwBri {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tm8Hm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__sVlLv:global(.__wab_instance) {
  position: relative;
}
.svg__nOk5J {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__lbbE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__o8ZHo:global(.__wab_instance) {
  position: relative;
}
.svg__oaHsW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__yhBfj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__rbwSg {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__rbwSg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rbwSg > :global(.__wab_flex-container) > *,
.freeBox__rbwSg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rbwSg > :global(.__wab_flex-container) > picture > img,
.freeBox__rbwSg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__uu5MV {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-ROSSNIT2nnNq2J);
  height: auto;
}
.button__eiGyn:global(.__wab_instance) {
  position: relative;
}
.svg__xkpVg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tLobt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__kdMpy:global(.__wab_instance) {
  position: relative;
}
.svg__hXhLw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ofiTf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__t381P:global(.__wab_instance) {
  position: relative;
}
.svg__daln {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___2AeiV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___9J3OJ:global(.__wab_instance) {
  position: relative;
}
.svg__qBnxq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__pmq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
